/* turn off any scrolling*/
html, body {margin: 0; height: 100%; overflow: hidden}
body {
    font-family: "SF Pro Text", sans-serif;
    /*letter-spacing: 0.1em;*/
    font-size: 1em;
    font-style: italic;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #170d16;
    color: #dad6a0;   
}

a {
    color: #BAB56F;
    text-decoration: underline;
}
a:hover {
    color: #E3DFBA;
    text-decoration: underline;
}
#home-img {
    width: 30%;
    left: 35%;
    top: 40%;
    text-align: center;
}
#about-img {
    height: 30vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10%;
}
#notif-img {
    top: 2%;
    right: 1%;
    height: 8%;
    transform: translateX(120%);
    -webkit-transform: translateX(120%);
    animation: slide-in 0.8s forwards;
    -webkit-animation: slide-in 0.8s forwards;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}
@keyframes slide-in {
    100% { transform: translateX(0%); }
}
@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}
#big-moon {
    font-size: 4.5em;
    cursor: pointer;
}
.home-fixed {
    position: fixed;
}
.text-8ball {
    bottom: 30%;
    width: 100%;
    text-align: center;
}
.text-title {
    top: 3%;
    width: 100%;
    text-align: center;
    font-style: normal;
}
.link-follow {
    bottom: 3%;
    left: 3%;
    font-style: normal;
}
.link-about {
    bottom: 3%;
    right: 3%;
    font-style: normal;
}
.text-container {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    letter-spacing: normal;
    padding-bottom: 3%;
    font-style: normal;
}
.col-left {
    width: 42%;
    float: left;
    margin-right: 1em;
  }
  
.col-right {
    margin-left: 40%;
    padding-left: 2em;
}

.line-break {
    border-color: #a6e1bd;
    margin-top: 2em;
    margin-bottom: 2em;
}

@media only screen and (max-width: 760px) {
    #notif-img {
        width: 50%;
        top: 6%;
    }
    #home-img {
        width: 80%;
        left: 10%;
    }
    #big-moon {
        font-size: 3.5em;
    }
    .text-container {
        width: 80%;
        margin-top: 15%;
        font-size: .8em;
        padding-bottom: 15%;
    }
  }